NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.drpc.testnet.arc.network
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app

X402_PAY_TO=0xYourReceiverWallet
X402_PROTECTED_RESOURCE_AMOUNT_ATOMIC=1
X402_REGISTER_GATE_AMOUNT_ATOMIC=400000
X402_CREATE_JOB_GATE_AMOUNT_ATOMIC=100000
X402_PREMIUM_PROOF_AMOUNT_ATOMIC=100000

NEXT_PUBLIC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_AGENT_REGISTRY_ADDRESS=
NEXT_PUBLIC_JOB_ROUTER_ADDRESS=
